@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.cover{
    background-image: url('../../assets/images/cover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.ff-poppins{
    font-family: 'Poppins', sans-serif;
}
.category:hover{
    background-color: #28a746d2 !important;
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
}